:root {
  /*===Colors===*/

  /* --- BASTICS --- */
  --white: 0, 0%, 100%;
  --black: 0, 0%, 0%;

  /* --- BLUE --- */
  --grey-500: 219, 13%, 44%;
  --grey-50: 220, 38%, 97%;

  /* --- BLUE --- */
  --blue-950: 214, 24%, 23%;
  --blue-900: 216, 25%, 25%;
  --blue-850: 215, 27%, 32%;
  --blue-500: 223, 100%, 59%;
  --blue-300: 216, 47%, 78%;
  --blue-100: 220, 50%, 95%;
  --blue-50: 225, 100%, 96%;

  /* --- GREEN --- */
  --green-500: 151, 68%, 52%;
  --green-100: 151, 88%, 94%;

  /* --- PURPLE --- */
  --purple-600: 277, 91%, 56%;
  --purple-100: 278, 100%, 95%;

  /* --- ORANGE --- */
  --orange-400: 22, 100%, 60%;
  --orange-50: 27, 100%, 96%;

  /* --- RED --- */
  --red-500: 0, 82%, 63%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: hsl(var(--grey-50));
  background-image: url(./assets/images/pattern-background-mobile-light.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Rubik";
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 24px;
  gap: 8px;
}
.shift__icon {
  width: 16px;
  height: 16px;
}
.title__section {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 40px;
  gap: 16px;
}
.title {
  font-size: 40px;
  font-weight: 200;
  color: hsl(var(--blue-900));
}
.bold {
  font-weight: 500;
}
.subtitle {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  font-style: italic;
  color: hsl(var(--grey-500));
}
.subject__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px 24px;
}
.subject__selection {
  background: hsl(var(--white));
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  border-radius: 12px;
  cursor: pointer;
}
.subject__title {
  font-size: 18px;
  font-weight: 500;
  color: hsl(var(--blue-900));
}
.subject__icon {
  border-radius: 6px;
  padding: 4px;
}
.subject__icon--html {
  background: hsl(var(--orange-50));
}
.subject__icon--css {
  background: hsl(var(--green-100));
}
.subject__icon--js {
  background: hsl(var(--blue-50));
}
.subject__icon--accessibility {
  background: hsl(var(--purple-100));
}
.subject__selection:active {
  transform: scale(0.97);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(var(--purple-600));
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 40px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
