/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== BODY ========== */
body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: hsl(300, 5%, 96%);
  min-height: 100vh;
  padding: 71px 24px;
}

/* ========== LAYOUT ========== */
.testimonials-grid {
  max-width: 1110px;
  margin: 0 auto;
  display: grid;
  gap: 24px;
}
.card {
  padding: 32px;
  display: grid;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}

/* ========== CARD HEADER ========== */
.card__header {
  display: flex;
  align-items: center;
  gap: 17px;
}
.card__avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.card--purple .card__avatar {
  border: 2px solid hsl(264, 82%, 70%);
}
.card--dark .card__avatar {
  border: 2px solid hsl(263, 55%, 52%);
}
.card__info {
  display: grid;
  gap: 4px;
}
.card__name {
  font-size: 13px;
  line-height: 110%;
  font-weight: 500;
}
.card__status {
  font-size: 11px;
  line-height: 110%;
  font-weight: 500;
}

/* ========== CARD CONTENT ========== */
.card__title {
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
}
.card__text {
  font-size: 13px;
  line-height: 140%;
  font-weight: 500;
}
.card--purple {
  background-color: hsl(263, 55%, 52%);
}

.card--grey {
  background-color: hsl(217, 19%, 35%);
}
.card--white {
  background-color: hsl(0, 0%, 100%);
}
.card--dark {
  background-color: hsl(219, 29%, 14%);
}

.card--purple .card__name,
.card--grey .card__name,
.card--dark .card__name,
.card--purple .card__title,
.card--grey .card__title,
.card--dark .card__status {
  color: hsl(0, 0%, 100%); /* white */
}
.card--purple .card__status,
.card--purple .card__text {
  color: hsl(260, 100%, 95%); /* purple 50 */
}
.card--dark .card__text,
.card--grey .card__text {
  color: hsl(214, 17%, 92%); /* grey 100 */
}
.card--dark .card__title {
  color: hsl(0, 0%, 81%); /* grey 200 */
}
.card--grey .card__status {
  color: hsl(215, 10%, 67%); /* grey 300 */
}
.card--white .card__text {
  color: hsl(224, 10%, 45%); /* grey 400 */
}
.card--white .card__name,
.card--white .card__title {
  color: hsl(217, 19%, 35%); /* grey 500 */
}

.color__status--dark {
  color: hsl(224, 10%, 45%);
}

.color__status--light {
  color: hsl(215, 10%, 67%);
}

/* ========== FOOTER ========== */
footer {
  margin-top: 40px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ========== RESPONSIVE ========== */
@media (min-width: 765px) {
  .card--purple {
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 80px;
  }
}

/* ========== RESPONSIVE TABLET ========== */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    padding: 100px 60px;
  }
  .testimonials-grid {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  }
  .card:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }

  .card:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .card:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .card:nth-child(4) {
    grid-area: 3 / 1 / 4 / 3;
  }

  .card:nth-child(5) {
    grid-area: 4 / 1 / 5 / 3;
  }
}

/* ========== RESPONSIVE DESKTOP ========== */
@media (min-width: 1024px) {
  .testimonials-grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  }
  .card:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }

  .card:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .card:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .card:nth-child(4) {
    grid-area: 2 / 2 / 3 / 4;
  }

  .card:nth-child(5) {
    grid-area: 1 / 4 / 3 / 5;
  }
}
