* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 60px;
  background-color: #fafafa;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
.title-wrapper {
  display: flex;
  flex-direction: column;
  width: 316px;
  align-items: center;
  justify-content: center;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.title-wrapper-top {
  padding-bottom: 16px;
}
.title-wrapper-top p {
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 200;
  line-height: 140%;
  letter-spacing: 0.25px;
  color: #4d4f62;
}
.subtitle {
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0;
  color: #4d4f62;
  text-align: center;
}
.bloc {
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
  padding: 32px;
  border-style: none;
  border-radius: 8px;
  height: 250px;
  width: 100%;
  max-width: 350px;
  transition: transform 0.5s;
}
.bloc h2 {
  padding-bottom: 6px;
}
.bloc-supervisor {
  border-top: 4px solid #44d3d2;
}
.bloc-team {
  border-top: 4px solid #ea5454;
}
.bloc-karma {
  border-top: 4px solid #fcae4a;
}
.bloc-calculator {
  border-top: 4px solid #549ef2;
}
.card-icon {
  padding-top: 32px;
  text-align: right;
}
h1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.25px;
  color: #4d4f62;
}
.card-wrapper p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  letter-spacing: 0;
  color: #6a7178;
}
.card-wrapper h2 {
  font-family: 'Poppins';
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0;
  font-weight: 600;
  color: #4d4f62;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.bloc:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .title-wrapper {
    width: 540px;
  }
  h1,
  .title-wrapper-top p {
    font-size: 36px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 32px;
    place-items: center;
    justify-content: center;
  }
  .bloc {
    width: 350px;
  }
  .bloc-supervisor {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .content-wrapper {
    display: contents;
  }
  .content-wrapper .bloc-team {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
  }
  .content-wrapper .bloc-karma {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .bloc-calculator {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-self: center;
  }
}
@media (min-width: 1024px) {
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    justify-content: center;
    place-items: center;
  }
}
