* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(8, 7, 11);
  padding: 65px 16px;

  font-family: "JetBrains Mono";
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container__generation,
.container__settings {
  background: rgb(36, 35, 44);
}
.title {
  color: rgb(128, 124, 146);
  font-size: 1rem;
  align-self: center;
}
.password__generation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.password__display {
  font-size: 1.5rem;
  color: rgb(230, 229, 234);
  font-weight: 700;
}

.copy-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.copied-text {
  color: rgb(164, 255, 175);
  font-size: 1.125rem;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.copied-text.show {
  opacity: 1;
}

.password__copy {
  width: auto;
  cursor: pointer;
}
.settings__flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.password__length {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.length__title {
  font-weight: 700;
}
.length__number {
  font-size: 1.5rem;
  padding-right: 14px;
  color: rgb(164, 255, 175);
}
.password__settings {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  color: rgb(230, 229, 234);
}
.password__footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.password__strength {
  display: flex;
  justify-content: space-between;
  background: rgb(24, 23, 31);
  padding: 16px 14px;
  align-items: center;
}
.strength__text {
  color: rgb(128, 124, 146);
  line-height: 20px;
  font-weight: 700;
}

.strength__indicator {
  display: flex;
  align-items: center;
  gap: 16px;
}

.strength__level {
  color: rgb(230, 229, 234);
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btn__generate {
  padding: 16px;
  background: rgb(164, 255, 175);
  font-family: "JetBrains Mono";
  font-weight: 700;
  cursor: pointer;
  border: none;
}
.btn__generate img {
  margin-left: 8px;
}

.password__checkbox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 700;
  line-height: 20px;
}
.password__checkbox div {
  display: flex;
  align-items: center;
  gap: 24px;
}
.strength__color {
  display: flex;
  gap: 8px;
}
.rectangle {
  border: 2px solid white;
  width: 10px;
  height: 28px;
  transition: background-color 0.3s ease;
}

.password__slider {
  appearance: none;
  background: rgb(24, 23, 31);
  height: 8px;
  outline: none;
}
.password__slider::-webkit-slider-thumb {
  appearance: none;
  background: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}
.case {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  cursor: pointer;
}

.case--active {
  background-image: url("./assets/images/icon-check.svg");
  background-position: center;
  background-color: rgb(164, 255, 175);
  background-repeat: no-repeat;
  border: none;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .container {
    min-width: 500px;
  }
  .password__generation {
    padding: 16px 32px;
  }
  .password__settings {
    padding: 24px 32px;
  }
  .password__footer {
    gap: 32px;
  }
  .password__display {
    font-size: 2rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .length__number {
    padding: 0;
  }
  .settings__flex {
    gap: 16px;
  }
}
