* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  font-size: 0.813rem;
  font-family: 'Manrope';
}
.card {
  border-radius: 0.625rem;
  background-color: white;
  max-width: 20.438rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__container {
  padding: 2rem 5% 1.125rem 5%;
}
.card__img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  border-radius: 0.625rem 0.625rem 0 0;
}
.card__title {
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.016rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.card__text {
  padding-top: 1.5rem;
  color: hsl(214, 17%, 51%);
}
.card__avatar {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.card__author {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.card__profile {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.card__name {
  line-height: 1.4;
  letter-spacing: 0.12%;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.card__date {
  color: hsl(212, 23%, 69%);
}
.card__date,
.card__text {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.12%;
}
.card__share-btn {
  position: relative;
  border-radius: 50%;
  border: none;
  height: 2rem;
  width: 2rem;
  z-index: 3;
}
.attribution {
  font-size: 0.688rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.share__toast {
  background-color: hsl(217, 19%, 35%);
  display: flex;
  gap: 24px;
  padding: 26px 30px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: -16px;
  left: -16px;
  right: -16px;
  z-index: 2;
}
.hidden {
  display: none;
}
.share__icons {
  display: flex;
  gap: 16px;
}
.share__text {
  line-height: 1.4;
  letter-spacing: 25%;
  color: hsl(212, 23%, 69%);
}
@media (min-width: 768px) {
  .card {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 608px;
    height: 346px;
  }
  .card__img {
    border-radius: 0.625rem 0 0 0.625rem;
    height: 100%;
    max-width: 230px;
    object-fit: fill;
  }
  .share__toast {
    justify-content: center;
    align-items: center;
    padding: 18px 30px;
    bottom: 62px;
    left: 36px;
    right: 36px;
    transform: translateX(142px);
    border-radius: 10px;
  }
  .share__toast::after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid hsl(217, 19%, 35%);
  }
}
